:roote {
    --primary-color: #4c763b;
    --secondary-color: #1a3d64;
    --line-height-base: 1.5;
    --spacing-unit: 8px;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: var(--line-height-base);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
